body {
  margin: 0 auto;
  background-color: blueviolet;
  font-family: "Lato", sans-serif;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
    url("namesti.jpg");
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  padding: 190px;
  padding-bottom: 100px;
}

.header-opacity {
  display: inline-block;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  padding: 20px;
}

h1 {
  padding-bottom: 60px;
  font-size: 65px;
  font-weight: 400;
  font-style: italic;
}

h3 {
  font-size: 25px;
  font-weight: 300;
}

.learn-more-button {
  text-decoration: none;
  color: white;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 18px 30px;
  border-radius: 13px;
  margin-top: 70px;
  border: 1px solid rgba(1, 1, 1, 0.6);
  font-weight: 300;
  font-size: 21px;
}

a:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.4);
  color: black;
  font-weight: 400;
}

footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("namesti-dve.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  font-size: 15px;
  color: white;
  padding: 20px 20px;
}

footer a {
  color: white;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 10px;
}

.github-here {
  text-decoration: none;
}

ul {
  margin: 0 auto;
  padding: 0;
}

li {
  text-decoration: underline;
  list-style-type: none;
}
